body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Body Text Styles */
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Choose a font-family */
    font-size: 36px; /* Increase the font size */
    font-weight: bold;
    margin-bottom: 20px; /* Add more spacing below the title */
    color: #333;
    font-weight: bold;
}

.section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-image: url('images/5500159.jpg');
}

form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

form input:focus {
    border-color: #007bff;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.text {
    margin-top: 15px;
    color: #777;
    font-size: 14px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*
.glass-pane {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px);
}
*/

.glass-pane {
    background-image: url('images/5500159.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}

.symptom-history-table {
    width: 100%;
    border-collapse: collapse;
}

.symptom-history-table th, .symptom-history-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}



