<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="glass-pane">
        <div class="login-container">
            <div class="login-card">
                <h2 class="title">IBD tracker</h2>
                <form method="POST">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button type="submit" class="btn">Login</button>
                </form>
                <p class="text">Don't have an account? <a href="{{ url_for('register') }}">Sign Up</a></p>
            </div>
        </div>
    </div>
</body>
</html>

